/* Content */
#app-content-main {
	display: block;
}

#app-content-search {
	display: none;
}

/* List */

.efli-list .efli-row .efli-cell.group-title {
	width: 80px;
	text-align: center;
}

.efli-list .efli-row .efli-cell.group-title .group-char {
	background-color: #5AB95F;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 40px;
	color: #fff;
	font-size: 21px;
}

.efli-list .efli-row .efli-cell.title div:nth-child(1) {
	font-size: 18px;
	color: #333;
}

.efli-list .efli-row .efli-cell.title div:nth-child(2),
.efli-list .efli-row .efli-cell.title div:nth-child(3) {
	font-size: 13px;
	color: #666;
}

.efli-list .efli-row .efli-cell.amount {
	text-align: right;
	width: 160px;
	padding-right: 30px;
	font-size: 17px;
}

.efli-list .efli-row .efli-cell.amount .positive,
#effectcash-sum.positive {
	color: green;
}

.efli-list .efli-row .efli-cell.amount .negative,
#effectcash-sum.negative {
	color: red;
}

.list-header {
	display: table;
	table-layout: fixed;
	width: 100%;
	background-color: #eee;
}

.list-header > div {
	padding: 16px 0;
	vertical-align: middle;
}

.list-header > div:nth-child(1) {
	padding-left: 20px;
	font-size: 20px;
}

.list-header > div:nth-child(2) {
	text-align: right;
	font-size: 15px;
	color: #666;
}

.list-header > div:nth-child(3) {
	text-align: right;
	padding-right: 30px;
	font-size: 17px;
	width: 160px;
}

.list-header > div {
	display: table-cell;
}

/* Navigation */

#app-navigation .datepicker-heading, #app-navigation .togglebuttons {
	display: flex;
	margin: 0 5px;
	width: calc(100% - 10px);
}
#app-navigation .datepicker-heading .button.first, #app-navigation .datepicker-heading .button.last {
	width: 35px;
}
#app-navigation .datepicker-heading .button {
	border-color: transparent;
	background: transparent;
}
#app-navigation .datepicker-heading .button.middle {
	width: calc(100% - 70px);
}

#app-navigation .button.today {
	width: 100%;
}

#app-navigation ul li {
	background-size: 16px 16px;
	background-position: 14px center;
	background-repeat: no-repeat;
}

#app-navigation .nav-icon-add {
	background-image: url('../img/add.svg');
}

#app-navigation .nav-icon-view {
	background-image: url('../img/view.svg');
}

/* Navigation right */
#app-navigation-right {
	display: none;
	overflow-y: auto;
  width: 250px;
  height: 100%;
  float: right;
  box-sizing: border-box;
  background-color: #fff;
  padding-bottom: 44px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-left: 1px solid #ebebeb;
  flex-direction: column;
	padding: 0 5px;
}

/* Search */

.searchcontainer {
	display: flex;
	margin: 0 5px;
	width: calc(100% - 10px);
}

.searchcontainer input {
	width: 100%;
}

/* Form */

.input-frm label {
	display: block;
	width: 100%;
}
.input-frm input,
.input-frm select,
.input-frm textarea,
.input-frm button {
	width: 100%;
}

/* Glyphicon */
.glyphicon {
    display: block;
    height: 15px;
}
.glyphicon-chevron-left {
    background: url('../img/leftarrow.svg') center center no-repeat;
}
.glyphicon-chevron-right {
    background: url('../img/rightarrow.svg') center center no-repeat;
}
